.preview {
  display: grid;
  grid-gap: 10px
}

.author {
  font-size: 0.8em;
  margin-top: auto;
  font-weight: bold;
}

.description {
  display: flex;
  flex-direction: column;
}

@media (min-width: 500px) {
  .preview {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 700px) {
  .preview {
    grid-template-columns: 1fr 2fr;
  }
}

.name {
  color: #669b02;
  transition: color .2s ease-in-out;
}

.name:hover {
  color: #A5C100;
}