.default {
  font-size: 1em;
  line-height: auto;
  background-color: #6D8901;

  border: 1px solid #799C01;
  border-radius: 5px;
  box-shadow: 0 1px 0 0 #9BCB76 inset;
  color: #ddd;
  text-shadow: 0 1px 0 #424F1C;
  text-decoration: none;
  /* margin: 15px 0; */
  text-align: center;
  font-weight: bold;
  padding: 0.3em 0.7em;
  display: inline-block;
  cursor: pointer;
  position: relative;
  transform: perspective(1px);
  transition: color .2s ease-out;
  overflow: hidden;
}

.default:enabled::before {
  background-color: #A5C100;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  content: '';
  z-index: -1;
  transition: transform .3s ease-out;
  transform: scaleY(0);
}

.default:hover:enabled {
  color: #fff;
  transform: scaleY(1);
}

.default:hover::before {
  transform: scaleY(1);
}

.default:disabled {
  background-color: #888;
  cursor: default;
  background-image: none;
  border: 1px solid #353631;
  box-shadow: none;
}