.label {
  color: #888;
  font-size: 16px;
  font-weight: 700;
  align-self: center;
}

.input {
  -webkit-appearance: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: #000;
  outline: 0;
  padding: 2px 3px;
  font-size: 13px;
  /*
    Leaving out Helvetica Neue, to not throw off size="..."
    on inputs. Arial is more reliable, on Windows and OS X.
  */
  font-family: Arial, FreeSans, sans-serif;
  height: 2.3em;

  /* IE7 */
  *padding-top: 2px;
  *padding-bottom: 1px;
  *height: auto;

}

.input:focus,
.input:active {
  -moz-box-shadow: #6C0 0 0 5px;
  -webkit-box-shadow: #6C0 0 0 5px;
  box-shadow: #6C0 0 0 5px;

  /* for Opera */
  z-index: 1;
}

.input:disabled {
  color: #888;
}

.inputInvalid {
  -moz-box-shadow: #fb5766 0 0 5px;
  -webkit-box-shadow: #fb5766 0 0 5px;
  box-shadow: #fb5766 0 0 5px;

  /* for Opera */
  z-index: 1;
}

.textarea {
  resize: vertical;
  height: 65px;
}

.block {
  display: grid;
}