.grid {
  display: grid;
  grid-gap: 20px;
}

@media (min-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 700px) {
  .grid {
    grid-template-columns: 1fr 2fr;
  }
}